.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inner {
    position: relative;
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    padding-right: 140px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    width: 110px;
    cursor: pointer;
    background-color: red;
}

.popup-inner .ok-btn {
    position: absolute;
    bottom:10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 110px;
    background-color: green;
}